@import"nullStyle.scss";

body{
	background: rgba(63, 156, 202, 0.7);
	backdrop-filter: blur(700px);
	font-family: 'Inter';
}
header{
	width: 1100px;
	margin: 0 auto;
}
.content{
	display: flex;
	justify-content: space-between;
	padding-top: 29px;
}

.header-menu{
	padding-top: 19px;
}
.header-menu a{
	font-weight: 500;
	font-size: 18px;
	color: #333333;
	padding-right: 40px;
}
.header-menu a:last-child{
	padding-right: 0;
}

.btn{
	background: linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%);
	padding: 12px 30px 13px;
	box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
	border-radius: 12px;
}
.btn a{
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	color: #FFFFFF;	
}

// about
.home{
	width: 1100px;
	height: 700px;
	margin: 0 auto;
}
.home-content{
	display: flex;
	justify-content: space-between;
}
.home-left{
	padding-top: 151px;
}
.home-left p{
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #00B9B6;
}
.home-left h1{
	font-weight: 700;
	font-size: 38px;
	line-height: 120%;
	color: #0E0E0F;
	padding-bottom: 50px;
}
.home-btn{
	width: 196px;
	height: 48px;
	left: 400px;
	top: 407px;
}
.home-btn a{
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
}
.home-right{
	padding-top: 105px;
}

// section download
.download{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
.download-content{
	display: flex;
	justify-content: space-around;
}
.download-right h2{
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: #0E0E0F;
	padding-left: 20px;
	padding-top: 20px;
}
.right-block{
	display: flex;
	padding-top: 37px;
}
.right-block-01 h5{
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	text-transform: uppercase;
	color: #00B9B6;
	padding-top: 10px;
}
.right-block-01 p{
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #333333;	
}

// about
.about{
	width: 1100px;
	height: 1200px;
	margin: 0 auto;
}
.about-content{
	display: flex;
	justify-content: space-between;
}
.about-left h3{
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	color: #0E0E0F;
}
.about-left ul{
	padding-top: 30px;
}
.about-left li{
	background: url(./img/elipse.png) no-repeat left;
	padding: 10px 0 0 40px;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	color: #333333;
}
.phone-content{
	display: flex;
	justify-content: space-around;
	background: rgba(0, 185, 182, 0.1);
	border-radius: 24px;
	margin: 50px 0 0 0;
}
.phone-right h2{
	padding: 49px 30px 40px 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	color: #0E0E0F;
}
.phone-text-01{
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #0E0E0F;
	background: url(./img/dot.png) no-repeat left;
	padding: 0 0 0 10px;
}
.phone-text-02{
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #0E0E0F;
	padding: 5px 0 20px 10px;
}

// service
.service{
	width: 1100px;
	height: 800px;
	margin: 0 auto;
}
.service h2{
	text-align: center;
}
.service-content{
	display: flex;
	justify-content: space-between;
	padding: 40px 0 0 0;
}
.service-text-01{
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	color: #FFA800;
	padding: 30px 150px 0 0;
}
.service-text-02{
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #0E0E0F;
}
.service-content-01{
	display: flex;
	justify-content: space-around;
	padding: 65px 0 0 0 ;
}
.service-content-all{
	width: 520px;
	height: 120px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
	border-radius: 24px
}
.service-content-block{
	display: flex;
}
.service-image img{
	padding: 20px 10px 20px 30px;
}
.service-text{
	padding: 20px 30px 0 0;
}
.service-text h3{
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #0E0E0F;
}
.service-text p{
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #333333;
}

// mobile
.phone-text{
	text-align: center;
	padding-top: 60px;
}
.service-phone{
	margin-top: 100px;
}
.service-phone-left h3{
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #0E0E0F;
	background: url(./img/num.png) no-repeat left;
	padding: 0 0 0 30px;
}
.service-phone-left p{
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #333333;
	padding: 0 0 0 30px;
}

// price
.price{
	width: 1100px;
	height: 600px;
	margin: 0 auto;
}
.price h2{
	padding: 0 0 0 30px;
}
.price-content{
	display: flex;
	justify-content: space-between;
}
.price-left{
	width: 454px;
	height: 317px;
	left: 0px;
	top: 17.5px;
	background: rgba(0, 185, 182, 0.1);
	border-radius: 24px;
	margin: 65px 0 0 20px;
}
.price-left h4{
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
	color: #333333;
	padding: 30px 12px 5px 30px;
}
.price-left span{
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;
	color: #333333;
}
.price-left h5{
	font-weight: 700;
	font-size: 26px;
	line-height: 100%;
	color: #333333;
	padding: 0 121px 30px 30px;
}
.price-left p{
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #333333;
	background: url(./img/elipse.png) no-repeat left;
	padding: 0 0 0 30px;
	margin: 0 0 0 30px;
}
.price-btn{
	width: 139px;
	height: 48px;
	left: 30px;
	top: 239px;
	background: #FFFFFF;
	border-radius: 14px;
	margin: 30px 0 0 30px;
}
.price-btn a{
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	color: #00B9B6;
	padding: 12px 30px 12px 30px;
}
.price-right{
	width: 549px;
	height: 352px;
	left: 474px;
	top: 0px;
	border-radius: 20px;
	background: #00B9B6;
	margin: 45px 0 0 0;
}
.price-right h4{
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
	color: #FFFFFF;
	padding: 30px 30px 5px 30px;
}
.price-right h5{
	font-weight: 700;
	font-size: 56px;
	line-height: 100%;
	color: #FFFFFF;
	padding: 0 30px 30px 30px;
}
.price-right span{
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;
}
.price-right p{
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #FFFFFF;
	background: url(./img/bullet.png) no-repeat left;
	padding: 0 0 0 30px;
	margin: 0 0 10px 30px;
}

// footer
footer{
	width: 1100px;
	margin: 0 auto;
	padding: 20px;
}
.footer-content{
	display: flex;
	justify-content: space-between;
}
.media-icons{
	font-size: 24px;
}
.footer_social-items i{
	color: #00B9B6;
	text-align: center;
	padding: 0px 50px 0 0;
}
.address p{
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #333333;
	background:url(./img/icon_mail.png) no-repeat left;
	padding: 0 0 0 30px;
}
.address h5{
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #333333;
	background: url(./img/icon_pin.png) no-repeat left;
	padding: 10px 0 0 30px;	
}